<h1>Add a Doctor!</h1>

<p>DUMB DOCTOR</p>

<div class="form_div">
<form action="/doctors" method="post">
  <div class='form-group'>
    <label for="doctor_name">Doctor's Name:</label>
    <input id="doctor_name" name="doctor_name" type="text" class="form-control">
  </div>
  <button type="submit">Add Doctor</button>
</form>
</div>
