<h1>Enter the Matrix, new patient.</h1>
<div class="form_div">
<form action="/patients" method="post">
  <div class='form-group'>
    <label for="patient_name">Patient's Name:</label>
    <input id="patient_name" name="patient_name" type="text" class="form-control">

    <label for="birthday">Date of Birth:</label>
    <input id="birthday" name="birthday" type="text" class="form-control">

  </div>
  <button type="submit">Add Patient</button>

</form>
</div>
